body {
    font-family: Arial, sans-serif;
    margin-bottom: 40px;
    margin-left: 120px;
    padding: 0;
    align-items: center;
    
  }
  .box {
    width: 450px;
    height: 610px;
    background: rgb(255, 255, 255);
    padding: 24px;
    text-align: center;
    margin: auto;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 0spx;
    border: 1px solid grey;
    margin-top: 10px;
    margin-left: 400px;
  }
    
  .heading1 {
    width: 327px;
    height: 80px;
    gap: 0px;
    opacity: 0px;
    margin-left: -40px;
  }
  .para {
    width: 327px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    margin-left: -40px;
  
  }
  .head2 {
    margin-left: -30px;
    width: 272px;
    height: 68px;
    top: 216px;
    left: 24px;
    gap: 8px;
    opacity: 0px;
    margin-bottom: -15px;
  }
  .inp {
    width: 420px;
    height: 40px;
    margin-top: -15px;
    gap: 8px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    margin-left: -20px;
  }
  .head3 {
    color: #fe8c00;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 315px;
    height: 20px;
    padding-left: 10px;
    margin-left: 204px;
  }
  .signin-btn {
    background-color: #fe8c00;
    width: 430px;
    height: 52px;
    top: 458px;
    left: 24px;
    border-radius: 100px;
    padding: 16px;
    border-style: none;
    gap: 8px;
    color: white;
    cursor: pointer;
  }
  .seperator {
      color: gray;
    width: 443px;
    height: 20px;
    top: 534px;
    left: 24px;
    gap: 16px;
  }
  .head4 {
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .register {
    text-decoration: none;
    color: #fe8c00;
  }
  .google-img{
      width: 500px;
      margin-left: -40px;
  }